body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242424;
}

header {
  background-color: #facb61;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  border-width: 5px;
  border-style:solid;
  border-color: #2d5070;
}

.navbar {
  overflow: hidden;
  border-radius: 10px;
  border-width: 5px;
  border-style:solid;
  border-color: #2d5070;
  background-color:#ef5c29;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color:#2d5070;
}

.navbar a.active {
  background-color: white;
  color: #2d5070;
}

/* #addStoreForm {
  background-color: #facb61;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-color: #2d5070;
  border-style: solid;
} */


label {
  color: #2d5070;
  padding-right: 10px;
}
input {
  border-style: solid;
  border-color: #2d5070;
  font-size: large;
}

button {
  background-color: #2d5070;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #2d5070;
  font-size: large;
  margin-top: 30px;
  padding: 10px;
}

button:hover {
  background-color: #ef5c29;
}

legend {
  text-align: left;
  padding-bottom: 20px;
}

form div {
  height: 40px;
  text-align: left;
  font-size:large;
}

table {
  border: 1px solid #2d5070;
  border-collapse: collapse;
}

td, th {
  border: #2d5070 solid 3px;
  text-align: center;
  padding: 20px;
  font-size: large;
}

th {
  background-color: #dcdcdc;
  color: #2d5070;
}

tr:first-child {
  color: purple;
}

.warning {
  text-align: center; 
  color: orangered; 
  font-weight: bold; 
  font-size: 40px;
  margin-top: 30px;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 30px;
  color:#2d5070;
  padding:10px;
}

main {
  background-image: url("images/fish.jpg");
  background-color: transparent; 
  padding-bottom: 10px;
  
}
.salesTable  {
  background-color: #facb61;
  margin-left: auto;
  margin-right: auto;  
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: auto;
  /* width: 1260px; */
  width: 90%;
  border-width: 5px;
  border-color: #2d5070;
  border-style: solid;
  padding-bottom: 30px;
}




article {
  background-color: #facb61;
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  border-width: 5px;
  border-color: #2d5070;
  border-style: solid;
  margin-top: 30px;
  padding:20px;
}

.salesTable article{
  
  /* width: 1046px; */
  overflow: auto;
  width: 90%;
  
}


.stores article {
  width: 900px;
}

.stores article p {
  font-size: 20px;
}

.stores article iframe {
  margin-top: 10px;
  border-style: solid;
  border-color: #2d5070;
  border-width: 5px;
  width: 400px;
  height:300px;
  border-radius: 10px;
  
}

.stores article img {
  width: 400px;
  height: 200px;
  margin-top: 10px;
  border-style: solid;
  border-color: #ef5c29;
  border-width: 5px;
  border-radius: 10px;
}





footer {
  font: size 15;px;
  font-style:italic;
  border-top-color:#2d5070;
  border-top-style:double;
  border-top-width: 5px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
}