body {
  font-family: Arial, Helvetica, sans-serif;
  color: #242424;
}

header {
  background-color: #facb61;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
  border-width: 5px;
  border-style:solid;
  border-color: #2d5070;
}

.navbar {
  overflow: hidden;
  border-radius: 10px;
  border-width: 5px;
  border-style:solid;
  border-color: #2d5070;
  background-color:#ef5c29;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.navbar a {
  float: left;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.navbar a:hover {
  background-color:#2d5070;
}

.navbar a.active {
  background-color: white;
  color: #2d5070;
}

#addStoreForm {
  background-color: #facb61;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  border-width: 5px;
  border-color: #2d5070;
  border-style: solid;
}

label {
  color: #2d5070;
  
}
input {
  border-style: solid;
  border-color: #2d5070;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  border: black solid 1px;
}

.warning {
  text-align: center; 
  color: orangered; 
  font-weight: bold; 
  font-size: 40px;
  margin-top: 30px;
}

h2 {
  font-size: 75px;
}

h3 {
  font-size: 30px;
  color:#2d5070;
  padding:10px;
}

main {
  background-image: url("images/fish.jpg");
  background-color: transparent; 
  
}


article {
  background-color: #facb61;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  text-align: center;
  border-width: 5px;
  border-color: #2d5070;
  border-style: solid;
  margin-top: 30px;
  padding:20px;
}

.stores article p {
  font-size: 20px;
}

.stores article iframe {
  margin-top: 10px;
  border-style: solid;
  border-color: #2d5070;
  border-width: 5px;
  width: 400px;
  height:300px;
  border-radius: 10px;
  
}

.stores article img {
  width: 400px;
  height: 200px;
  margin-top: 10px;
  border-style: solid;
  border-color: #ef5c29;
  border-width: 5px;
  border-radius: 10px;
}

footer {
  font: size 15;px;
  font-style:italic;
  border-top-color:#2d5070;
  border-top-style:double;
  border-top-width: 5px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 5px;
}